.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: hidden;
}

.book-list-grid {
  display: 'flex';
  flex-wrap: nowrap !important;
  justify-content: flex-start !important;
  overflow-x: auto !important;
}

.book-list-is-empty {
  padding: 20px;
  text-align: center;
  font-style: italic;
  color: #aaa;
}

@media screen and (min-width: 768px) {
  .book-list-grid {
    flex-wrap: wrap !important;
  }
}